name: Emacs Release Artifacts

on:
  push:
    tags:
      - 'v[0-9][1-9]*\\.[0-9][1-9]*\\.[0-9][1-9]*(-[A-Za-z]+(\\w|-)*)?'

env:
  PACKAGE_NAME: sdml-ts-mode

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        emacs-version: [29.1, 29.4, 30.2, snapshot]

    steps:
      - name: Check out the source code
        uses: actions/checkout@v6

      - name: Install Emacs
        uses: jcs090218/setup-emacs@master
        with:
          version: ${{ matrix.emacs-version }}

      - name: Install Eask
        uses: emacs-eask/setup-eask@master
        with:
          version: "snapshot"

      - name: Create package
        run: |
          eask package \
          mv dist/${{ env.PACKAGE_NAME }}-${{ github.ref_name }}.tar \
             dist/${{ env.PACKAGE_NAME }}-${{ github.ref_name }}-emacs-${{ matrix.emacs-version }}.tar
          && gzip dist/${{ env.PACKAGE_NAME }}-${{ github.ref_name }}-emacs-${{ matrix.emacs-version }}.tar

      - name: Generate package docs
        run: |
          eask docs \
          && mv docs ${{ env.PACKAGE_NAME }}-${{ github.ref_name }}-docs \
          && tar -cvz -f ${{ env.PACKAGE_NAME }}-${{ github.ref_name }}-docs.tar.gz \
                         ${{ env.PACKAGE_NAME }}-${{ github.ref_name }}-docs

      - name: Upload build artifacts
        uses: actions/upload-artifact@v5
        with:
          name: Release ${{ github.ref_name }} artifacts
          path: dist/*.tar.gz
